#variant defconfig
CONFIG_MACH_MATISSEWIFI_OPEN=y
CONFIG_SEC_MATISSE_PROJECT=y
CONFIG_SEC_MATISSEWIFI_COMMON=y
#CONFIG_MACH_MATISSE3G_OPEN=y

#CONFIG_KEXEC=y
#CONFIG_ATAGS_PROC=y
#CONFIG_KEXEC_HARDBOOT=y
#CONFIG_HAVE_END_MEM=y
#CONFIG_END_MEM=0xffffffff
#CONFIG_KEXEC_HB_PAGE_ADDR=0x18000000

#Power Management
CONFIG_SEC_PM=y
CONFIG_SEC_PM_DEBUG=y
CONFIG_SAMSUNG_DEBUG_DISPLAY=y
#CONFIG_FB_MSM_MDSS_TC_DSI2LVDS_WXGA_PANEL=y
#CONFIG_FB_MSM8x26_MDSS_CHECK_LCD_CONNECTION=y
CONFIG_FB_MSM_MDSS_SHARP_HD_PANEL=y
CONFIG_LCD_CONNECTION_CHECK=y
#CONFIG_FB_MSM_MDSS_SDC_WXGA_PANEL=y
#CONFIG_FB_MSM_TRIPLE_BUFFER=y
##CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_FB_MSM_MDSS=y
CONFIG_FB_MSM_MDSS_WRITEBACK=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_MDNIE_TFT_MSM8X26=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
#CONFIG_BACKLIGHT_GENERIC=y
#CONFIG_TC358764_I2C_CONTROL=y

#TKEY LEDS
CONFIG_LEDS_GPIO=y

#TSP
CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y

#SENSOR
CONFIG_SENSORS=y
CONFIG_SENSORS_K2HH=y

CONFIG_INPUT=y
CONFIG_INPUT_GPIO=y
CONFIG_SENSORS_HALL=y

#USB
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y
CONFIG_SM5502_MUIC=y

#Battery charging & BMS
CONFIG_BATTERY_SAMSUNG=y
CONFIG_CHARGER_SMB358=y
CONFIG_BATTERY_BCL=y
CONFIG_QPNP_BMS=y
CONFIG_SAMSUNG_LPM_MODE=y

# TIMA LOG
CONFIG_ARCH_MSM8226_3G_WIFI=y

#Sec Thermistor
CONFIG_SEC_THERMISTOR=y

#Wifi
CONFIG_MSM_PIL_PRONTO=y
CONFIG_WCNSS_CORE=y
CONFIG_WCNSS_CORE_PRONTO=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y

CONFIG_NET_CORE=y
CONFIG_WIRELESS=y
CONFIG_WIRELESS_EXT_SYSFS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=y
CONFIG_CFG80211_DEFAULT_PS=y
# CONFIG_CFG80211_ALLOW_RECONNECT is not set
CONFIG_WLAN=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y

# CONFIG_PRIMA_WLAN is not set
CONFIG_PRONTO_WLAN=m
# CONFIG_PRIMA_WLAN_BTAMP is not set
CONFIG_PRIMA_WLAN_LFR=y
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_QCOM_VOWIFI_11R=y
# CONFIG_CONFIG_ENABLE_LINUX_REG is not set

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_WCNSS_REGISTER_DUMP_ON_BITE=y
CONFIG_WCNSS_IRIS_REGISTER_DUMP=y

# Earjack
CONFIG_SAMSUNG_JACK=y
